/CreateNewREADME.py
/PyCharmStarter.py
/test/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/CreateBasicFolder.sh
/library/Step1/
/library/Step2/
/library/archive/
/output/
/supplement_data/
/tmp/
/ListFile.py
/input/
/data/
/library/
